{% extends 'base.html' %}

{% block page-header %}
评论内容
{% endblock %}

{% block page-content %}
<table class="table table-striped">    
    <thead>　　　　　　　　　　　　　　　　　
        <tr>　　　　
            <th>id</th>　　　　　　　　　
            <th>用户id</th>
            <th>评价</th>
            <th>支持数</th>
            <th>反对</th>
            <th>是否正向</th>
            <th>评价时间</th>
        </tr>
    </thead>
    <tbody>　　　　　　　　　　　　　　　　　　　　　　　　
        {% for c in comment_list %}
            <tr>
                <td>{{ c.id }}</td>　　　　　　
                <td>{{ c.usmzdmid}}</td>
                <td>{{ c.content }}</td>
                <td>{{ c.support }}</td>
                <td>{{ c.oppose }}</td>
                {% if  c.is_pos == '1' %}
                <td>是</td>    
                {% else %}
                <td>否</td> 
                {% endif %}
                <td>{{ c.comment_time|date:"Y-m-d" }}</td>　
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}